.flight-type-filter {
  background-color: #ffffff;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  width: 200px;
  max-height: 300px;

  .filter__list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .filter-item {
    display: flex;
    align-items: center;
    gap: 10px;

    .checkbox-wrapper-28 {
      --size: 16px;
      position: relative;

      .promoted-input-checkbox {
        border: 0;
        clip: rect(0 0 0 0);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;
      }

      label {
        color: #333;
        font-size: 14px;
        line-height: var(--size);
        cursor: pointer;
        position: relative;

        &::after {
          content: '';
          height: var(--size);
          width: var(--size);
          margin-right: 8px;
          float: left;
          border: 2px solid #007aff;
          border-radius: 3px;
          transition: 0.15s all ease-out;
        }

        &:active::after {
          background-color: #e6e6e6;
        }
      }

      input:checked ~ svg {
        height: calc(var(--size) * 0.6);
        animation: draw-checkbox-28 ease-in-out 0.2s forwards;
      }

      svg {
        stroke: #007aff;
        stroke-width: 3px;
        height: 0;
        width: calc(var(--size) * 0.6);
        position: absolute;
        left: calc(var(--size) * 0.21);
        top: calc(var(--size) * 0.2);
        stroke-dasharray: 33;
      }
    }

    @keyframes draw-checkbox-28 {
      0% {
        stroke-dashoffset: 33;
      }
      100% {
        stroke-dashoffset: 0;
      }
    }

    .filter-label {
      cursor: pointer;
      color: #333;
      font-size: 14px;
    }
  }

  .filter-btn {
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
    color: #333;
    text-align: left;
    border: 1px solid transparent;
    transition:
      background-color 0.3s ease,
      color 0.3s ease;

    &:hover {
      background-color: #2196f3;
    }

    &.filter-btn__all {
      color: #007aff;
      font-weight: bold;
      border: 1px solid #007aff;
      background-color: #e0f7ff;
    }

    &.filter-btn__no-change,
    &.filter-btn__one-change,
    &.filter-btn__two-changes,
    &.filter-btn__three-changes {
      background-color: #ffffff;
      color: #333;
    }

    &.filter-btn__no-change {
      &:hover {
        background-color: #d4edda;
      }
    }

    &.filter-btn__one-change {
      &:hover {
        background-color: #ffe5b4;
      }
    }

    &.filter-btn__two-changes {
      &:hover {
        background-color: #ffddc1;
      }
    }

    &.filter-btn__three-changes {
      &:hover {
        background-color: #ffe6e6;
      }
    }
  }
}
