.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Arial, sans-serif;
  padding: 20px;
  background-color: lightblue;
  margin-bottom: auto;

  .app-logo {
    width: 50px;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .app-components {
    display: flex;
    max-width: 1200px;
    width: 100%;

    &__sidebar {
      flex: 0 0 250px;
      margin-right: 20px;
    }

    &__mainbar {
      flex: 1;
    }
  }
}

.app-type-filter {
  background-color: #ffffff;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.app-search-filter,
.app-generator {
  background-color: #ffffff;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}
