.ticket-search-filter {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  max-width: 600px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  padding: 10px;
  margin-left: 30px;

  .filter__list {
    display: flex;
    gap: 10px;
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .filter-btn {
    cursor: pointer;
    padding: 10px 20px;
    color: #333;
    font-weight: bold;
    border-radius: 4px;
    border: none;
    background-color: #f8f8f8;
    transition: background-color 0.3s;

    &:hover {
      background-color: #e0f0ff;
    }

    &.filter-btn__cheapest {
      color: #007aff;
      background-color: #e0f7ff;
    }

    &.filter-btn__fastest,
    &.filter-btn__optimal {
      color: #333;
    }

    &.filter-btn__active {
      color: #ffffff;
      background-color: #007aff;
    }
  }
}
